.hidden {
  display: none;
}
.question {
  margin: 10px;
  border: 4px solid rosybrown;
  padding: 1%;
  background-color: blueviolet;
  color: antiquewhite;
  text-align: center;
  float: inline-end;
}
